In [1]:
import pandas as pd
import sys

In [24]:
path_to_file = "./staging/"

Create a function named `extract_data_from_csv` to extract the fields `Rowid`, `Timestamp`, `Anonymized Vehicle number`, and `Vehicle type` from the `vehicle-data.csv` file and save them into a file named `csv_data.csv`.

In [25]:
def extract_data_from_csv():
    input_path = f"{path_to_file}/vehicle-data.csv"
    out_path = f"{path_to_file}/staging/csv_data.csv"
    df = pd.read_csv(input_path, header=None)
    df = df[[0,1,2,3]]
    df.columns = ['Rowid', 'Timestamp', 'Anonymized Vehicle number', 'Vehicle type']
    df.to_csv(out_path, index=False)

In [26]:
extract_data_from_csv()

OSError: Cannot save file into a non-existent directory: 'staging/staging'

In [8]:
df = pd.read_csv(input_path, header=None)

df.head()

   0                         1        2    3  4      5
0  1  Thu Aug 19 21:54:38 2021   125094  car  2  VC965
1  2  Sat Jul 31 04:09:44 2021   174434  car  2  VC965
2  3  Sat Aug 14 17:19:04 2021  8538286  car  2  VC965
3  4  Mon Aug  2 18:23:45 2021  5521221  car  2  VC965
4  5  Thu Jul 29 22:44:20 2021  3267767  car  2  VC965

In [15]:
df = df[[0,1,2,3]]
df

          0                         1        2      3
0         1  Thu Aug 19 21:54:38 2021   125094    car
1         2  Sat Jul 31 04:09:44 2021   174434    car
2         3  Sat Aug 14 17:19:04 2021  8538286    car
3         4  Mon Aug  2 18:23:45 2021  5521221    car
4         5  Thu Jul 29 22:44:20 2021  3267767    car
...     ...                       ...      ...    ...
9995   9996  Sun Aug 15 03:02:27 2021  3369206    car
9996   9997  Sat Aug  7 04:24:08 2021  5886709  truck
9997   9998  Mon Aug  9 02:58:26 2021   917421  truck
9998   9999  Tue Aug 17 18:41:00 2021  2601682  truck
9999  10000  Mon Aug  9 22:56:50 2021  4833266    car

[10000 rows x 4 columns]

In [16]:
df.columns = ['Rowid', 'Timestamp', 'Anonymized Vehicle number', 'Vehicle type']
df.head()

   Rowid                 Timestamp  Anonymized Vehicle number Vehicle type
0      1  Thu Aug 19 21:54:38 2021                     125094          car
1      2  Sat Jul 31 04:09:44 2021                     174434          car
2      3  Sat Aug 14 17:19:04 2021                    8538286          car
3      4  Mon Aug  2 18:23:45 2021                    5521221          car
4      5  Thu Jul 29 22:44:20 2021                    3267767          car