In [1]:
import pandas as pd
import sys

In [2]:
input_path = "./staging/tollplaza-data.tsv"

In [4]:
df = pd.read_csv(input_path, sep='\t', header=None)
df.columns = ['car_id', 'timestamp', 'tollplaza_id', 'vihecle_type', 'Number of axles', 'Tollplaza id',  'Tollplaza code']
df.head()

,car_id,timestamp,tollplaza_id,vihecle_type,Number of axles,Tollplaza id,Tollplaza code
0,1,Thu Aug 19 21:54:38 2021,125094,car,2,4856,PC7C042B7
1,2,Sat Jul 31 04:09:44 2021,174434,car,2,4154,PC2C2EF9E
2,3,Sat Aug 14 17:19:04 2021,8538286,car,2,4070,PCEECA8B2
3,4,Mon Aug 2 18:23:45 2021,5521221,car,2,4095,PC3E1512A
4,5,Thu Jul 29 22:44:20 2021,3267767,car,2,4135,PCC943ECD